.artist-list__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem 0;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .artist-list__wrapper {
    justify-content: center;
  }
}
